@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: "Poppins Medium";
    src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins Medium';
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-size: 16px;
    outline: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5px 60px 0;
}

header img {
    width: 50%;
    float: left;
}

header nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

header nav ul {
    float: right;
    list-style: none;
    margin-right: 4px;
}

header nav ul li {
    display: inline-block;
    margin: 0 1px;
    line-height: 60px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    padding: 8px 15px;
    position: relative;
}

header nav ul li a:hover {
    box-shadow: 0 0 5px #000;
    border-radius: 50px;
    color: #000;
    -webkit-transition: .25s ease-in;
    -moz-transition: .25s ease-in;
    -o-transition: .25s ease-in;
    transition: .25s ease-in;
}

header.black {
    background: #0698e4;
    transition-duration: 0.5s;
}

header.black img {
    transition-duration: 0.5s;
    width: 40%;
}

label #sign-one,
label #sign-two {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: -20px;
    margin-top: 10.5px;
    cursor: pointer;
    display: none;
}

#res-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    label #sign-one {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 70%;
        height: 90vh;
        background: #fff;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: .35s;
        z-index: 10;
        opacity: 1;
        box-shadow: 2px 0px 10px gray;
    }
    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a {
        top: 2rem;
        font-size: 20px;
        color: #0698e4;
    }
    #res-menu:checked~ul {
        left: 0;
    }
    #res-menu:checked~label #sign-one {
        display: none;
    }
    #res-menu:checked~label #sign-two {
        display: block;
    }
    header img {
        margin-left: -35px;
    }
    header nav ul li {
        display: flex;
        margin-left: 2rem;
    }
    header nav ul li a {
        margin-top: 1rem;
        color: #0698e4;
        line-height: 25px;
        padding: 8px 15px;
    }
    header nav ul li a:hover {
        box-shadow: 0 0 5px #000;
        border-radius: 50px;
        color: #000;
        -webkit-transition: .25s ease-in;
        -moz-transition: .25s ease-in;
        -o-transition: .25s ease-in;
        transition: .25s ease-in;
        outline: none;
        border: none;
    }
}


/*BANNER AREA*/

section {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media screen and (max-width:1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width:600px) {
    section {
        padding: 125px 30px;
    }
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area {
    display: grid;
    position: relative;
    justify-content: left;
    min-height: 100vh;
    color: #fff;
    text-align: left;
}

.banner-area .banner-img {
    background-image: url(img/bg1.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.banner-area h1 {
    margin-bottom: 0px;
    font-size: 5.5rem;
    font-family: 'Poppins Medium';
    color: #0698e4;
}

.banner-area h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Poppins Medium', sans-serif;
    color: #000;
}

.banner-area a.banner-btn {
    padding: 14px 45px;
    background: #0698e4;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Poppins SemiBold";
    transition: all 0.1s ease-out;
    letter-spacing: 0.5px;
}

.banner-area a.banner-btn:hover {
    background: #0e0e0e;
    color: #0698e4;
    -webkit-transition: 0.35s ease-out;
    -moz-transition: 0.35s ease-out;
    -o-transition: 0.35s ease-out;
    transition: 0.35s ease-out;
    box-shadow: 0 0 3px #0698e4, 0 0 3px #0698e4;
    outline: none;
    border: none;
}

@media screen and (max-width:768px) {
    .banner-area {
        min-height: 600px;
    }
    .banner-area .banner-img {
        background-image: url(img/bg11.png);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        z-index: -1;
    }
    .banner-area h1 {
        margin-top: 4.5rem;
        font-size: 3rem;
        margin-bottom: 0;
    }
    .banner-area h2 {
        margin-top: -2rem;
        font-size: 1.5rem;
        color: #000;
    }
    .banner-area a.banner-btn {
        padding: 13px 35px;
        color: #000;
        box-shadow: 4px 0px 8px #000, 0px 0px 4px #000;
    }
}


/*ABOUT AREA*/

#about {
    background: #ddd;
}

ul.about-content {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content li {
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.about-left {
    flex-basis: 40%;
    background-image: url(img/abou.jpeg);
    border-radius: 50px;
    margin-top: 0rem;
    box-shadow: 0px 0px 30px #fff;
}

.about-right {
    flex-basis: 60%;
    margin-top: -2.5rem;
}

@media screen and (max-width: 768px) {
    .about-right {
        margin-top: 0rem;
    }
}

.about-area p {
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 0rem;
    text-align: justify;
    line-height: 1.5;
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
    text-indent: 2em;
    object-fit: fill;
}

.section-title {
    font-size: 3rem;
    margin-bottom: 6%;
    text-transform: uppercase;
    font-family: 'Poppins Bold', sans-serif;
}

.about-right h4 {
    margin-bottom: 0rem;
    font-size: 3rem;
    text-align: center;
    color: #0698e4;
    font-family: "Poppins SemiBold";
}

.about-btn {
    padding: 13px 25px;
    margin-left: 42%;
    background: #0698e4;
    border-radius: 50px;
    color: #fff;
}

.about-btn:hover {
    background: #000;
    color: #0698e4;
    -webkit-transition: 0.35s ease-out;
    -moz-transition: 0.35s ease-out;
    -o-transition: 0.35s ease-out;
    transition: 0.35s ease-out;
}

@media screen and (max-width: 960px) {
    .about-content li {
        height: 430px;
    }
}

@media screen and (max-width: 768px) {
    .about-right {
        flex-basis: 100%;
    }
    .about-content li {
        padding: 8px;
    }
    .about-left {
        flex-basis: 100%;
        max-height: 200px;
    }
    .about-content li {
        height: 90vh;
    }
}

@media screen and (max-width: 340px) {
    .about-content li {
        height: 180vh;
    }
}


/*SERVICE AREA*/

#services {
    background: #fff;
    margin-bottom: auto;
}

ul.services-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.desc1 {
    font-family: 'Poppins Light', sans-serif;
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

.desc2 {
    font-family: 'Poppins Light', sans-serif;
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    display: none;
}

.services-content li {
    padding: 0;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.services-btn {
    padding: 13px 25px;
    margin-left: 0;
    background: #02bdbe;
    border-radius: 50px;
    color: #fff;
}

.services-btn:hover {
    color: #000;
    -webkit-transition: 0.35s ease-out;
    -moz-transition: 0.35s ease-out;
    -o-transition: 0.35s ease-out;
    transition: 0.35s ease-out;
    box-shadow: 0 0 3px #000, 0 0 3px #000;
}

@media screen and (max-width: 768px) {
    .desc1 {
        display: none;
    }
    .desc2 {
        display: block;
    }
}


/*=====================================*/

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}

.services .card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.services .card .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}

.services .card:hover .box {
    transform: rotateY(180deg);
}

@media screen and (max-width: 768) {
    .services .card:hover .box {
        transform: rotateY(180deg);
    }
}

.services .card .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.services .card .box .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 50px;
}

@media screen and (max-width: 768) {
    .services .card .box .contentBx {
        transform: rotateY(180deg);
    }
}

.services .card .box .contentBx div {
    transform-style: preserve-3d;
    padding: 20px;
    background: #fff;
    box-shadow: 1px 0px 10px #000;
    transform: translateZ(100px);
    border-radius: 50px;
}

.services .card .box .contentBx div h2 {
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.services .card .box .contentBx div p {
    color: #000;
    margin: .5rem;
    font-size: 1;
    font-family: 'Poppins Light', sans-serif;
    text-align: inherit;
    text-decoration: none;
    line-height: 1.8rem;
}


/*=========================================*/

.container {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins Bold', sans-serif;
}

.contact-box {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("img/about.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

.container h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.container h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50%;
    border-radius: 2px;
    background-color: #0698e4;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    font-family: 'Poppins Light', sans-serif;
}

.label {
    background-color: #fff;
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 49%;
    padding: 14px 45px;
    background: #0698e4;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Poppins SemiBold";
    transition: all 0.1s ease-out;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
    text-align: center;
}

.btn2 {
    width: 25%;
    padding: 14px 45px;
    background: #000000;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Poppins SemiBold";
    transition: all 0.1s ease-out;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 2.5rem;
}

.btn3 {
    width: 49%;
    padding: 14px 45px;
    background: gray;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Poppins SemiBold";
    transition: all 0.1s ease-out;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
    text-align: center;
}

.btn:hover {
    background: #0e0e0e;
    color: #0698e4;
    -webkit-transition: .35s ease-out;
    -moz-transition: .35s ease-out;
    -o-transition: .35s ease-out;
    transition: .35s ease-out;
    box-shadow: 0 0 3px #0698e4, 0 0 3px #0698e4;
    outline: none;
    border: none;
}

.btn2:hover {
    background: #000000;
    color: #0698e4;
    -webkit-transition: .35s ease-out;
    -moz-transition: .35s ease-out;
    -o-transition: .35s ease-out;
    transition: .35s ease-out;
    outline: none;
    border: none;
    box-shadow: 0px 0 5px #0698e4, 0 0 5px #0698e4;
}

.field:focus {
    border: .5px solid #0698e4;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
    .container h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-size: 1.1rem;
    }
    .field {
        width: 100%;
        padding: 0.4rem 0.4rem;
        font-size: 1rem;
        margin-bottom: 22px;
        transition: .3s;
        font-family: 'Open Sans', sans-serif;
    }
    .btn2 {
        width: 100%;
        padding: 12px 15px;
    }
    .btn {
        width: 48%;
        padding: 12px 15px;
    }
    .btn3 {
        width: 48%;
        padding: 12px 15px;
    }
}


/*======== NEWSLETTER ========*/


/*NEWSLETER*/

.news {
    background: linear-gradient(360deg, #0698e4, #fff);
}

.newsletter {
    text-align: center;
    color: #0698e4;
}

.newsletter h3 {
    color: #000;
    max-width: 100%;
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
}

.newsletter p {
    color: #000;
    max-width: 100%;
    margin: 1.5rem auto;
    font-size: 1.3rem;
    font-family: 'Poppins Light', sans-serif;
}

.email-box {
    width: auto;
    height: 40px;
    justify-content: center;
    display: flex;
    /*its better to use inline-flex*/
    color: #0698e4;
}

.email-box i {
    background: #0e0e0e;
    width: 50px;
    line-height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 1.5rem;
}

.tbox,
.tbox1,
.btn {
    border: none;
    outline: none;
}

.tbox,
.tbox1 {
    width: 0px;
    transition: 0.6s;
    color: #000;
    background: #ddd;
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
}

.email-box:hover>.tbox,
.tbox:focus {
    width: 260px;
    padding: 0 10px;
}

.email-box:hover>.tbox1,
.tbox1:focus {
    width: 260px;
    padding: 0 10px;
}

.btn4 {
    background: #0e0e0e;
    color: #0698e4;
    padding: 10x 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: 'Poppins Medium';
    font-size: 1rem;
    outline: none;
    border: none;
}

.btn4:hover {
    background: #000;
    color: #0698e4;
    -webkit-transition: 0.35s ease-out;
    -moz-transition: 0.35s ease-out;
    -o-transition: 0.35s ease-out;
    transition: 0.35s ease-out;
}

@media screen and (max-width: 768px) {
    .newsletter h3 {
        font-size: 2rem;
    }
    .newsletter p {
        font-size: 1.1rem;
    }
    .email-box:hover>.tbox,
    .tbox:focus {
        width: 50%;
        padding: 0 10px;
    }
    .email-box:hover>.tbox1,
    .tbox1:focus {
        width: 50%;
        padding: 0 10px;
    }
    .btn4 {
        padding: 5px 5px;
        font-size: .75rem;
    }
}


/*=========== OUR PARTNERS ===========*/

.parceiros {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4rem;
    padding-bottom: 0;
    background: #fff;
    color: #000;
}

.logo-css {
    outline: none;
    margin: 0;
    max-width: 96%;
    padding: 2%;
}

.item img {
    width: 100%;
}

.parceiros h3 {
    text-align: center;
    color: #000;
    max-width: 100%;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Poppins Medium', sans-serif;
}

@media screen and (max-width: 768px) {
    .parceiros h3 {
        font-size: 2rem;
    }
}


/*=================================================================================*/


/*================================== BIG FOOTER ==================================*/

:root {
    /*========== Colors ==========*/
    --first-color: #000;
    --first-color-light: #0698e4;
    --body-color: #ddd;
    /*========== Font and typography ==========*/
    --body-font: 'Quicksand', sans-serif;
    --normal-font-size: 1rem;
}

.footer-area {
    margin-top: 100px;
    padding: 50px 0;
    background: #ddd;
    background: -moz-linear-gradient(left, #353333 0%, #000000 100%);
    background: -webkit-linear-gradient(left, #000000 0%, #000000 100%);
    background: linear-gradient(to right, #000000 0%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2749c4', endColorstr='#6085b2', GradientType=1);
    color: #fff;
    position: relative;
}

.main {
    width: 1200px;
    margin: 0 auto;
    outline: none;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0;
}

.single-footer {
    width: 230px;
}

.single-footer:first-child {
    width: 400px;
}

.single-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 1.4rem;
    color: #0698e4;
    font-family: 'Poppins light', sans-serif;
}

.single-footer p {
    margin-bottom: 20px;
}

.footer-social a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social {
    margin-top: 20px;
}

.single-footer ul {
    list-style: none;
}

.single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    color: #ddd;
}

.single-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.single-footer ul li a:hover {
    color: #0698e4;
    transition: .35s ease-out;
}

.single-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
}

.copy {
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}

.footer-wave-box {
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 100%;
    right: 0;
    overflow: hidden;
    outline: none;
}

.footer-wave {
    background-image: url('img/footer-shape.png');
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 220%;
    background-size: 50%;
    background-position: bottom;
    background-repeat: repeat-x;
    outline: none;
}

.footer-animation {
    -moz-animation: footer_wave 5s linear infinite;
    -o-animation: footer_wave 5s linear infinite;
    -webkit-animation: footer_wave 5s linear infinite;
    left: auto;
    right: 0;
}

@-moz-keyframeskeyframes footer_wave {
    0% {
        -moz-transform: translateX(0%);
    }
    50% {
        -moz-transform: translateX(25%);
    }
    100% {
        -moz-transform: translateX(50%);
    }
}

@-moz-keyframes footer_wave {
    0% {
        -moz-transform: translateX(0%);
    }
    50% {
        -moz-transform: translateX(25%);
    }
    100% {
        -moz-transform: translateX(50%);
    }
}

@-o-keyframeskeyframes footer_wave {
    0% {
        -o-transform: translateX(0%);
    }
    50% {
        -o-transform: translateX(25%);
    }
    100% {
        -o-transform: translateX(50%);
    }
}

@-webkit-keyframeskeyframes footer_wave {
    0% {
        -webkit-transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(25%);
    }
    100% {
        -webkit-transform: translateX(50%);
    }
}

@media only screen and (max-width:600px) {
    .main {
        width: 320px;
    }
    .footer-wave-box {
        display: none;
    }
    .single-footer:first-child,
    .single-footer {
        width: 100%;
        margin-bottom: 30px;
    }
}

.social__container,
.social__content {
    display: inline-block;
    margin-left: 4rem;
}

@media screen and (max-width: 768px) {
    .social__container,
    .social__content {
        margin-left: 0rem;
    }
}

.social__content {
    position: relative;
    padding: .5rem;
    margin: .5rem;
    background-color: var(--first-color-light);
    border-radius: 1rem;
    cursor: pointer;
}

.social__icon {
    font-size: 2rem;
    color: var(--first-color);
}

.social__tooltip {
    opacity: 0;
    position: absolute;
    padding: .5rem 1rem;
    background-color: var(--first-color);
    color: var(--first-color-light);
    font-size: var(--normal-font-size);
    white-space: nowrap;
    font-weight: 700;
    border-radius: .5rem;
    pointer-events: none;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .single-footer h4 {
        text-align: center;
    }
    .parag {
        padding-left: 2rem;
        text-align: center;
    }
    .social__container {
        padding-left: 4rem;
    }
}

.social__tooltip::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 3px;
}

.social__content,
.social__tooltip,
.social__icon {
    transition: .3s;
}

.hv1:hover {
    background-color: #2f55a4;
}

.hv1:hover .social__icon {
    color: white;
}

.hv2:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.hv2:hover .social__icon {
    color: white;
}

.hv3:hover {
    background-color: #0e76a8;
}

.hv3:hover .social__icon {
    color: white;
}


/*========== Tooltip left ==========*/

.social__tooltip-left {
    background: #2f55a4;
    color: #fff;
    left: 0;
    transform: translateX(-100%);
}

.social__tooltip-left::after {
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    right: 1px;
}

.social__content:hover .social__tooltip-left {
    opacity: 1;
    left: -.3rem;
}

@media screen and (max-width: 768px) {
    .social__tooltip-left {
        top: -2.25rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .social__tooltip-left::after {
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        right: 1px;
    }
    .social__content:hover .social__tooltip-left {
        opacity: 1;
        top: -3.25rem;
    }
}


/*========== Tooltip top ==========*/

.social__tooltip-top {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: #fff;
    top: -2.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.social__tooltip-top::after {
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    bottom: 1px;
}

.social__content:hover .social__tooltip-top {
    opacity: 1;
    top: -3.25rem;
}


/*========== Tooltip bottom ==========*/

.social__tooltip-bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.social__tooltip-bottom::after {
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 1px;
}

.social__content:hover .social__tooltip-bottom {
    opacity: 1;
    bottom: -1rem;
}

.parag {
    text-align: justify;
    padding-right: 3rem;
}


/*========== Tooltip right  ==========*/

.social__tooltip-right {
    background: #0e76a8;
    color: #fff;
    right: 0;
    transform: translateX(100%);
}

.social__tooltip-right::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 1px;
}

.social__content:hover .social__tooltip-right {
    opacity: 1;
    right: -1rem;
}

@media screen and (max-width: 768px) {
    .social__tooltip-left {
        top: -2.25rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .social__tooltip-left::after {
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        right: 1px;
    }
    .social__content:hover .social__tooltip-left {
        opacity: 1;
        top: -3.25rem;
    }
}

@media screen and (max-width: 768px) {
    .social__tooltip-right {
        top: -2.25rem;
        right: 50%;
        transform: translateX(50%);
    }
    .social__tooltip-right::after {
        right: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        left: 1px;
    }
    .social__content:hover .social__tooltip-right {
        opacity: 1;
        top: -3.25rem;
    }
}


/*========================================= ICONS DEV*/

.imgBx {
    /*background: linear-gradient(200deg, rgba(0, 219, 255, 1) 0%, rgba(6, 152, 228, 1) 34%, rgba(6, 44, 228, 1) 100%);
     background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,0,0,1) 0%, rgba(255,149,0,1) 100%); */
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.ft {
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgBx h2 {
    object-fit: cover;
    margin-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.imgBx i {
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.fa-laptop-code {
    font-size: 12rem;
    margin-top: 1rem;
}

.fa-browser {
    font-size: 14rem;
}

.fa-paint-brush {
    margin-top: 1rem;
    font-size: 12.5rem;
}

.fa-chart-line {
    font-size: 15rem;
}

.fa-tools {
    margin-top: 1rem;
    font-size: 12rem;
}

.fa-hand-holding-usd {
    font-size: 12rem;
}


/*
.services .card .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/